<div class="page-header">
  <h1>Reset Password</h1></div>


<form ng-hide="reset.hide" name ="regForm" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);" novalidate>
  <!-- ng-submit will call function regUser in userCtrl.js for which we have specified route in routes.js for /reset -->


  <!-- Password -->
  <div ng-class="{ 'has-success': (regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) ,'has-error': (!regForm.firstPassword.$valid &&
  !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted )}">
    <label>Password:</label>
    <input ng-disabled="reset.disabled" class ="form-control" type="password" name="firstPassword" placeholder="please enter password" ng-model="firstPassword"
    ng-minlength="8" ng-maxlength="24" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,24}$/" required>
    <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) ||(regForm.$submitted &&
    regForm.firstPassword.$error.required)">This field is required</p>
      <ul class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine &&
      regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)">
        <li>Must contain atleast 1 uppercase character</li>
        <li>Must contain atleast 1 lowercase character</li>
        <li>Must contain atleast 1 number</li>
        <li>Must contain atleast 1 special character</li>
        <li>Must be atleast 3 characters and not more than 25</li>
      </ul>
  </div>

  <br>

  <br>

  <!-- Confirm Password -->
  <div ng-class="{ 'has-success':confirmed && !regForm.confirmpassword.$error.required,'has-error':(!confirmed &&
  !regForm.confirmpassword.$error.required) || (regForm.confirmpassword.$error.required && !regForm.confirmpassword.$pristine) ||
(regForm.$submitted && regForm.confirmpassword.$error.required)}">
    <label>Confirm Password:</label>
    <input ng-disabled="reset.disabled" class ="form-control" type="password" name="confirmpassword" placeholder="please enter password" match="{{[firstPassword]}}"
    ng-change="reset.regData.password = confirm" ng-model="confirm" required>
    <p class="help-block" ng-show="(!regForm.confirmpassword.$pristine && regForm.confirmpassword.$error.required) ||(regForm.$submitted &&
    regForm.confirmpassword.$error.required)">This field is required</p>
    <p class="help-block" ng-show="!confirmed && !regForm.confirmpassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
  </div>

  <br>

  <button class="btn btn-primary" type="submit">Reset Password</button>

</form>



<div class="jumbotron text-center" ng-show="reset.loading">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="reset.successMsg">
  <div class="alert alert-success">{{ reset.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="reset.errorMessage">
  <div class="alert alert-danger">{{ reset.errorMessage }}</div>
</div>
