<div class="page-header">
  <h1>Edit User</h1></div>

<br>

<ul class="nav nav-tabs">
  <li role="presentation" ng-click="edit.namePhase();" ng-class="nameTab"><a href="">Name</a></li>
  <li role="presentation" ng-click="edit.usernamePhase();" ng-class="usernameTab"><a href="">Usearname</a></li>
  <li role="presentation" ng-click="edit.emailPhase();" ng-class="emailTab"><a href="">Email</a></li>
  <li role="presentation" ng-click="edit.PermissionPhase();" ng-class="permissionTab"><a href="">Permission</a></li>

</ul>


<!-- Phase One : Name -->

<form name="edit.nameForm" ng-show="edit.phase1" ng-submit="edit.updateName(newName, edit.nameForm.name.$valid)" novalidate>
  <div ng-class="{ 'has-success': (edit.nameForm.name.$valid && !edit.nameForm.name.$pristine) ,'has-error': (!edit.nameForm.name.$valid && !edit.nameForm.name.$pristine)
  || (!edit.nameForm.name.$valid && edit.nameForm.$submitted )}">
    <label>Current Name:</label>
    <!--ng-model is used to pass our data from the form to controller - regUser  in userCtrl.js -->
    <input ng-disabled="edit.disabled" class ="form-control" type="text" name="name" placeholder="please enter name" ng-model="newName"
    ng-pattern="/^(([a-zA-Z]{1,25})+[ ]+([a-zA-Z]{2,30})+)+$/" ng-minlength="3" ng-maxlength="25" required>
    <p class="help-block" ng-show="(!edit.nameForm.name.$pristine && edit.nameForm.name.$error.required) ||(edit.nameForm.$submitted && edit.nameForm.name.$error.required)">
      This field is required</p>
    <ul class="help-block" ng-show="(!edit.nameForm.name.$pristine && edit.nameForm.name.$error.pattern) || (!edit.nameForm.name.$pristine && edit.nameForm.name.$error.minlength)
    || (!edit.nameForm.name.$pristine && edit.nameForm.name.$error.maxlength)">
      <li>Must havea space between first and last name</li>
      <li>Must not contain any special characters</li>
      <li>Must not contain any numbers</li>
      <li>Must be atleast 3 characters and not more than 25</li>
    </ul>
  </div>
  <br>

  <button ng-disabled="edit.disabled" class="btn btn-primary" type="submit">Update</button>
</form>



<!-- Phase two: Username -->
<form name="edit.usernameForm" ng-show="edit.phase2" ng-submit="edit.updateUsername(newUsername, edit.usernameForm.username.$valid)" novalidate>
  <!-- Username -->
  <div ng-class="{ 'has-success': (edit.usernameForm.username.$valid && !edit.usernameForm.username.$pristine) ,'has-error': (!edit.usernameForm.username.$valid &&
  !edit.usernameForm.username.$pristine) || (!edit.usernameForm.username.$valid && edit.usernameForm.$submitted )}">
    <label>Username:</label>
    <input ng-disabled="register.disabled" class ="form-control" type="text" name="username" placeholder="please enter username" ng-model="newUsername"
    ng-minlength="3" ng-maxlength="25" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" required>
    <span ng-show="register.checkingUsername" class="glyphicon glyphicon-repeat"></span><p class="help-block" ng-show="register.usernameMsg && !edit.usernameForm.username.$error.required && edit.usernameForm.username.$valid">{{ register.usernameMsg }}</p>
    <p class="help-block" ng-show="(!edit.usernameForm.username.$pristine && edit.usernameForm.username.$error.required) ||(edit.usernameForm.$submitted &&
    edit.usernameForm.username.$error.required)">This field is required</p>
      <ul class="help-block" ng-show="(!edit.usernameForm.username.$pristine && edit.usernameForm.username.$error.pattern) || (!edit.usernameForm.username.$pristine &&
      edit.usernameForm.username.$error.minlength) || (!edit.usernameForm.username.$pristine && edit.usernameForm.username.$error.maxlength)">
        <li>Must contain any special characters or spaces</li>
        <li>Must be atleast 8 characters and not more than 24</li>
      </ul>
  </div>
  <br>

  <button ng-disabled="edit.disabled" class="btn btn-primary" type="submit">Update</button>

</form>

<!-- Phase three: Email -->

<form name="edit.emailForm" ng-show="edit.phase3" ng-submit="edit.updateEmail(newEmail, edit.emailForm.email.$valid)" novalidate>
  <!-- Email -->
  <div ng-class="{ 'has-success': (edit.emailForm.email.$valid && !edit.emailForm.email.$pristine) ,'has-error': (!edit.emailForm.email.$valid && !edit.emailForm.email.$pristine)
  || (!edit.emailForm.email.$valid && edit.emailForm.$submitted )}">
    <label>Email:</label>
    <!--ng-model is used to pass our data from the form to controller - regUser  in userCtrl.js -->
    <input ng-disabled="edit.disabled" class ="form-control" type="text" name="email" placeholder="please enter email" ng-model="newEmail" ng-minlength="3"
    ng-maxlength="50" ng-pattern="/^[a-z0-9._]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" required>
    <p class="help-block" ng-show="(!edit.emailForm.email.$pristine && edit.emailForm.email.$error.required) ||(edit.emailForm.$submitted && edit.emailForm.email.$error.required)">
      This field is required</p>
    <span ng-show="edit.checkingEmail" class="glyphicon glyphicon-repeat"></span><p class="help-block" ng-show="edit.emailMsg &&
    !edit.emailForm.email.$error.required && edit.emailForm.email.$valid">{{ edit.emailMsg }}</p>
      <ul class="help-block" ng-show="(!edit.emailForm.email.$pristine && edit.emailForm.email.$error.pattern) || (!edit.emailForm.email.$pristine && edit.emailForm.email.$error.minlength)
      || (!edit.emailForm.email.$pristine && edit.emailForm.email.$error.maxlength)">
        <li>Must contain any "@"</li>
        <li>Must not contain any special characters</li>
        <li>Must be atleast 3 characters and not more than 50</li>
      </ul>
  </div>
  <br>
  <button ng-disabled="edit.disabled" class="btn btn-primary" type="submit">Update</button>
</form>

<!-- Phase four: Permission  -->
<div ng-show="edit.phase4">
<label>Current Permission:&nbsp&nbsp</label>{{ newPermission }}
<br>
<br>
<button ng-disabled="edit.disableUser" type="button" ng-click="edit.updatePermissions('user');" class="btn btn-success">User</button>&nbsp
<button ng-disabled="edit.disableAdmin" type="button" ng-click="edit.updatePermissions('admin');" class="btn btn-info">Admin</button>&nbsp
<button ng-disabled="edit.disableModerator" type="button" ng-click="edit.updatePermissions('moderator');" class="btn btn-warning">Moderator</button>
</div>


<div class="row show-hide-message" ng-show="edit.successMsg">
  <div class="alert alert-success">{{ edit.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="edit.errorMessage">
  <div class="alert alert-danger">{{ edit.errorMessage }}</div>
</div>
